/*{
  background-image: url(dog.jpg);
}*/
#kavin {
  background-color: blue;
}
#kumar {
  background-color: red;
}
.frog {
  color:green;  
  border style: solid;
  border color: black;       background: yellow;
      
}
<div>
 div*8>{box $}
 </div>
 




 